/* ******* ROOT ***************/
:root {
  --color-grey: #f1f1f2;
  --color-light-teal: #9de0de;
  --color-teal: #5dbcc1;
  --color-blue-teal: #1f4e66;
  --color-deep-blue: #17243d;
  
  --color-pink-primary: #ff4665;
  
  --horizontal-padding: 8%;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

* {
  font-family: "Asap", sans-serif;
}

.col {
  border: 1px red solid;
}

/* ******* SECTIONS GENERAL ***************/

.section-title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.section-subtitle {
  /* font-weight: bold; */
  /* font-size: 3rem; */
  text-align: center;
  color: grey;
}